<template>
    <div class="container bg-light">
        <div class="m-3 p-5">
            <router-view></router-view>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import GameDefinition from 'boardie/GameDefinition';
import Game from 'boardie/Game';
import GameDefinitionCard from "./components/GameDefinitionCard.vue";
import GameCard from "./components/GameCard.vue";
import ErrorEvent from "boardie-backend/events/ErrorEvent";
import GameCreatedEvent from "boardie-backend/events/GameCreatedEvent";
import GameStartingEvent from "boardie-backend/events/GameStartingEvent";
import LogEvent from "boardie-backend/events/LogEvent";
import NewDecisionEvent from "boardie-backend/events/NewDecisionEvent";
import PlayerJoinedEvent from "boardie-backend/events/PlayerJoinedEvent";
import PlayerStateChangedEvent from "boardie-backend/events/PlayerStateChangedEvent";
import SetupCompletedEvent from "boardie-backend/events/SetupCompletedEvent";
import BoardieEvent from 'boardie-backend/events/BoardieEvent';

import store from "./store";
import * as service from "./service";
import GameData from 'boardie/dist/GameData';
import VueRouter from 'vue-router';

function handleError(event: ErrorEvent) {
    alert(`Error: ${event.message}`);
}

function handleGameCreated(event: GameCreatedEvent) {
    store.games.push(event.game);
}

function handleGameStarting(event: GameStartingEvent) {
    store.gameInProgress = true;
}

function handleLog(event: LogEvent) {
    store.logEntries.push(event.message);
}

function handleNewDecision(event: NewDecisionEvent) {
    store.decision = event.decision;
}

function handlePlayerJoined(event: PlayerJoinedEvent, router: VueRouter) {
    const gameIndex = store.games.findIndex(g => g.data.id == event.game.data.id);

    if (gameIndex != -1) {
        Vue.set(store.games, gameIndex, event.game);
    }

    store.game = event.game; // TODO what if player joined another game?
    router.push(`/gamePage/${event.game.data.id}`);
}

function handleSetupCompleted(event: SetupCompletedEvent) {
    store.game!.data = event.gameData;
}

function handlePlayerStateChanged(event: PlayerStateChangedEvent) {
    const index = store.game!.data.players.findIndex(p => p.id == event.player.id);
    if (index == -1) {
        alert("Error: Couldn't find player");
    }

    Vue.set(store.game!.data.players, index, event.player);
}

export default Vue.extend({
    components: {
        GameDefinitionCard,
        GameCard
    },
    data() {
        return { store };
    },
    created: function() {
        service.getGameDefinitions();
        service.getGames();

        if (!this.store.ws) {
            this.store.ws = new WebSocket(`ws://${window.location.host}`);
            this.store.ws.onmessage = (event) => {
                const data = JSON.parse(event.data);
                console.info(`Received event: ${data.event}: ${JSON.stringify(data)}`);
                switch (data.event) {
                    case ErrorEvent.NAME: handleError(data); break;
                    case GameCreatedEvent.NAME: handleGameCreated(data); break;
                    case GameStartingEvent.NAME: handleGameStarting(data); break;
                    case LogEvent.NAME: handleLog(data); break;
                    case NewDecisionEvent.NAME: handleNewDecision(data); break;
                    case PlayerJoinedEvent.NAME: handlePlayerJoined(data, this.$router); break;
                    case SetupCompletedEvent.NAME: handleSetupCompleted(data); break;
                    case PlayerStateChangedEvent.NAME: handlePlayerStateChanged(data); break;
                    default: alert(`Unexpected event type: ${data.event}`);
                }
            }
        }
    }
})
</script>