<template>
    <div v-if="!this.store.game">Loading...</div>
    <Lobby v-else-if="!store.gameInProgress" :game="this.store.game" />
    <IngameView v-else :game="this.store.game" />
</template>

<script lang="ts">
import Vue from "vue";
import Game from "boardie/Game";

import Lobby from "./Lobby.vue";
import IngameView from "./IngameView.vue";
import * as service from "../service";
import store from "../store";
import { GameState } from "boardie/GameState";

export default Vue.extend({
    components: {
        Lobby,
        IngameView
    },
    data() {
        return {
            GameState: GameState,
            store
        };
    },
    created() {
        // TODO move this "cleanup" somewhere else
        this.store.logEntries = [];
        this.store.decision = undefined;
    }
});
</script>