<template>
    <div class="row row-cols-3">
        <div class="column mx-3">
            <h3>Playable games</h3>
            <div v-if="!gameDefinitions.length">None yet!</div>
            <GameDefinitionCard v-else class="card" v-for="gameDefinition in gameDefinitions" :key="gameDefinition.name"
                                :gameDefinition="gameDefinition"/>
        </div>
        <div class="column mx-3">
            <h3>Ongoing games</h3>
            <div v-if="!games.length">None yet!</div>
            <GameCard v-else v-for="game in games" :key="game.data.id" :game="game" />
        </div>
        <div class="col-sm">
            <h3>Settings</h3>
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" v-model="playerName">
                </div>
            </form>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import GameDefinition from 'boardie/dist/GameDefinition';
import Game from 'boardie/dist/Game';
import GameDefinitionCard from "../components/GameDefinitionCard.vue";
import GameCard from "../components/GameCard.vue";

import store from "../store";
import * as service from "../service";

export default Vue.extend({
    components: {
        GameDefinitionCard,
        GameCard
    },
    data() {
        return store;
    },
    created: function() {
        this.game = undefined;
        this.gameInProgress = false;
        service.getGameDefinitions();
        service.getGames();
    }
});
</script>