<template>
    <div>
        <h1>{{ store.game.data.id }}</h1>
        <h2>{{ store.game.definition.name }}</h2>

        <PlayArea />

        <!-- Player area -->
        <div class="position-fixed" style="bottom: 0">
            <Player v-for="player in store.game.data.players" :key="player.id" :player="player" />
        </div>

        <Decision v-if="store.decision" :decision="store.decision" />
        <PlayerList />
        <Logs />
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import Game from "boardie/Game";
import { GameState } from "boardie/GameState";
import store from "../store";
import * as service from "../service";
import Decision from "../components/Decision.vue";
import Logs from "../components/Logs.vue";
import Player from "../components/Player.vue";
import PlayerList from "../components/PlayerList.vue";
import PlayArea from "../components/PlayArea.vue";

export default Vue.extend({
    components: {
        Decision,
        Logs,
        Player,
        PlayerList,
        PlayArea
    },
    data() {
        return {
            store
        }
    }
});
</script>