<template>
    <div>
        <h1>{{ store.game.definition.name }}</h1>
        <h2>{{ store.game.data.id }}</h2>

        Players:
        <ul class="list-group list-group-flush">
            <Player class="list-group-item" v-for="player in store.game.data.players" :key="player.id" :player="player" />
        </ul>
        <br />
        <button v-if="isReady" class="btn btn-primary" @click="start()">Start game</button>
        <button v-if="store.game.data.players.length < store.game.definition.maxPlayers" class="btn btn-primary" @click="addAi()">Add AI player</button>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import Game from "boardie/Game";
import { GameState } from "boardie/GameState";
import * as service from "../service";
import store from "../store";
import Player from "../components/Player.vue";

export default Vue.extend({
    components: {
        Player
    },
    data() {
        return { store };
    },
    computed: {
        isReady(): boolean {
            return this.store.game!.data.players.length >= this.store.game!.definition.minPlayers;
        }
    },
    methods: {
        start() {
            service.startGame(this.store.game!);
        },
        addAi() {
            // Server will generate a name
            service.addUserToGame(this.store.game!, "", true);
        }
    }
});
</script>