<template>
    <b-card :style="selectable ? 'cursor: pointer' : ''" :bg-variant="selectable ? 'primary' : ''"
     :text-variant="selectable ? 'white' : ''" @click="clickHandler">
        <b-card-text>{{ card.name }}</b-card-text>
    </b-card>
</template>

<script lang="ts">
import Vue from "vue";
import Card from "boardie/dist/Card";
import CardChoice from "boardie/dist/choices/CardChoice";
import store from "../store";
import * as service from "../service";
import { ChoiceType } from "boardie/dist/choices/ChoiceType";

export default Vue.extend({
    props: {
        card: Card,
    },
    data() {
        return {
            store
        };
    },
    computed: {
        selectable(): boolean {
            if (!this.store.decision) {
                return false;
            }
            const choices = this.store.decision.choices.filter(c => c.type == ChoiceType.Card).map(c => c as CardChoice);
            return !!choices.find(c => c.card.id == this.card.id);
        }
    },
    methods: {
        clickHandler(): void {
            if (!this.selectable) {
                return;
            }

            const choices = this.store.decision!.choices.filter(c => c.type == ChoiceType.Card).map(c => c as CardChoice);
            const cardChoice = choices.find(c => c.card.id == this.card.id)!;
            service.makeDecision(this.store.decision!, cardChoice);
        }
    }
});
</script>