<template>
    <b-card v-show="!!store.decision" title="Decision time!">
        <b-card-text>
            <h5>{{ decision.text }}</h5>
            <b-card v-for="choice in choices" :title="choice.text" :key="choice.id">
                <b-button @click="makeDecision(choice)">This one!</b-button>
            </b-card>
        </b-card-text>
    </b-card>
</template>

<script lang="ts">
import Vue from "vue";
import Choice from "boardie/dist/choices/Choice";
import Decision from "boardie/dist/Decision";
import store from "../store";
import * as service from "../service";
import { ChoiceType } from "boardie/dist/choices/ChoiceType";

export default Vue.extend({
    props: {
        decision: Decision
    },
    data() {
        return {
            store
        };
    },
    computed: {
        choices(): Choice[] {
            if (!this.store.decision) {
                return [];
            }
            return this.store.decision.choices.filter(c => c.type == ChoiceType.Generic);
        }
    },
    methods: {
        makeDecision(choice: Choice) {
            service.makeDecision(this.decision, choice);
        }
    }
});
</script>