<template>
    <b-card :style="selectable ? 'cursor: pointer' : ''" :bg-variant="selectable ? 'primary' : ''"
     :text-variant="selectable ? 'white' : ''" @click="clickHandler">
        <b-card-text>{{ deck.definition.name }}</b-card-text>
    </b-card>
</template>

<script lang="ts">
import Vue from "vue";
import Card from "boardie/dist/Card";
import CardChoice from "boardie/dist/choices/CardChoice";
import store from "../store";
import * as service from "../service";
import { ChoiceType } from "boardie/dist/choices/ChoiceType";
import Deck from "boardie/dist/Deck";
import DrawFromDeckChoice from "boardie/dist/choices/DrawFromDeckChoice";

export default Vue.extend({
    props: {
        deck: Deck,
    },
    data() {
        return {
            store
        };
    },
    computed: {
        selectable(): boolean {
            if (!this.store.decision) {
                return false;
            }

            const choices = this.store.decision.choices.filter(c => c.type == ChoiceType.DrawFromDeckChoice)
                .map(c => c as DrawFromDeckChoice);
            return !!choices.find(c => c.deck.id == this.deck.id);
        }
    },
    methods: {
        clickHandler(): void {
            if (!this.selectable) {
                return;
            }

            const choices = this.store.decision!.choices.filter(c => c.type == ChoiceType.DrawFromDeckChoice)
                .map(c => c as DrawFromDeckChoice);
            const choice = choices.find(c => c.deck.id == this.deck.id)!;
            service.makeDecision(this.store.decision!, choice);
        }
    }
});
</script>