<template>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ game.definition.name }}</h5>
            <p>
                {{ game.data.players.length }}
                <span v-if="game.definition.maxPlayers != Number.MAX_SAFE_INTEGER">/ {{game.definition.maxPlayers}}</span>
                 players
            </p>
            <br />
            <button v-if="game._state == GameState.Created && game.data.players.length != game.definition.maxPlayers"
             class="btn btn-primary" @click="join(game)">Join</button>
            <div v-if="game._state == GameState.Started">In progress...</div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import "vue-router";
import * as service from "../service";
import Game from "boardie/dist/Game";
import { GameState } from "boardie/GameState";
import store from "../store";

export default Vue.extend({
    props: {
        game: Game
    },
    data() {
        return {
            GameState: GameState,
            store
        };
    },
    methods: {
        join(game: Game) {
            service.joinGame(game);
        }
    }
})
</script>