<template>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ gameDefinition.name }}</h5>
            <p>
                {{ gameDefinition.minPlayers }}<span v-if="gameDefinition.maxPlayers == Number.MAX_SAFE_INTEGER">+</span>
                <span v-else> - {{ gameDefinition.maxPlayers }}</span>
                players
            </p>
            <button class="btn btn-primary" @click="newGame(gameDefinition)">Create new game</button>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import GameDefinition from "boardie/dist/GameDefinition";
import * as service from "../service";

export default Vue.extend({
    props: {
        gameDefinition: GameDefinition
    },
    methods: {
        newGame: function(gameDefinition: GameDefinition) {
            service.createNewGame(gameDefinition);
        }
    }
})
</script>>