<template>
    <div class="position-fixed p-3 border bg-light h-25 w-25" style="right: 0; bottom: 0">
        <h3>Log</h3>
        <ul id="logViewer" class="list-group list-group-flush h-75 overflow-auto">
            <li class="list-group-item p-1" v-for="entry in logEntries">{{ entry }}</li>
        </ul>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import store from "../store";
export default Vue.extend({
    data() {
        return {
            logEntries: store.logEntries // We need to do this because we want to set a watcher on this field
        }
    },
    watch: {
        logEntries: function() {
            this.$nextTick(() => { // We need to scroll in the next tick, after the UI has been updated
                const logViewer = document.getElementById("logViewer")!;
                logViewer.scrollTo(0, logViewer.scrollHeight);
            })
        }
    }
});
</script>