<template>
    <b-card :title="player.name">
        <b-card-group deck v-if="player.hand.length">
            <Card v-for="card in player.hand" :key="card.id" :card="card" />
        </b-card-group>
    </b-card>
</template>

<script lang="ts">
import Vue from "vue";
import store from "../store";
import Player from "boardie/Player";
import Card from "./Card.vue";

export default Vue.extend({
    components: {
        Card
    },
    props: {
        player: Player
    }
});
</script>