<template>
    <div class="p-3 border">
        <h3>Play area</h3>
        <Deck v-for="deck in store.game.data.decks" :key="deck.id" :deck="deck" />
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import store from "../store";
import Deck from "./Deck.vue";

export default Vue.extend({
    components: {
        Deck
    },
    data() {
        return {
            store
        }
    },
});
</script>