<template>
    <div class="position-fixed bg-light border p-3" style="right: 0; top: 0">
        <h3>Players:</h3>
        <ul class="list-group list-group-flush bg-light">
            <Player class="list-group-item bg-light" v-for="player in store.game.data.players" v-bind:key="player.id" :player="player" />
        </ul>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import Game from "boardie/Game";
import store from "../store";
import Player from "../components/Player.vue";

export default Vue.extend({
    components: {
        Player
    },
    data() {
        return {
            store
        }
    }
});
</script>